.App {
  text-align: center;
}
.App-logo {
  margin-top: 25px;
}
.App-logo.working {
  animation: toRight infinite 1s linear;
  height: 80px;
}
.App-logo.onBreak {
  animation: toLeft infinite 35s linear;
  height: 115px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

h1 {
  font-size: 18px;
  margin: 0;
}

button {
  margin: 25px 0;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:focus {
  outline:0;
}

button.onBreak {
  background-color: black;
  color: gold;
  border: 1px gold solid;
}
button.working {
  background-color: gold;
  color: black;
  border: 1px black solid;
}

@keyframes toRight {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes toLeft {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}